.git
.github
.project
.pydevproject
.classpath
.DS_Store
portal/target/portal
.github
target
docs
*/target/*
docker
# don't ignore entrypoint scripts
!docker/web-and-data/docker-entrypoint.sh
!portal/target/cbioportal.war
